/*/PALETA/*/
/* 
V1
Azul claro: #3362be - RGB 49,91,190
Azul oscuro: #1d2982 - RGB 29,41,130
Naranja: #f17d1c - RGB 241,125,28
Mostaza: #dcc115 - RGB 223,188,23
Amarillo: #efff7b - RGB 



Azul oscuro: #272856 - RGB 39,40,86
Azul claro: #244183 - RGB 36,65, 131
Turquesa: #3c9793- RGB 60,151,147
Mostaza: #cd971e - RGB 205,151,30
Mostaza clara: edd97a - RGB 237,217,122


*/


html {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}


body {
  color: rgba(0, 0, 0, 0.87);
  
}

.titApp {
  color: #fdfdfd;
  text-align: center;
}

.iconPersons {
  margin-top: 1%;
  align-items: center;
  width: 10%;
  height: 10%;
  /*  */
  margin-left: 45%;
}

.secFormulario {
  margin-left: 20%;
  margin-right: 20%;
  padding: 1.5rem;
  /* margin: 1.5rem; */
  border-radius: 48px 48px 48px 48px;
  -moz-border-radius: 48px 48px 48px 48px;
  -webkit-border-radius: 48px 48px 48px 48px;
  border: 4px solid #fdfdfd;
  width: auto;
  height: auto;
}

#chat {
  margin-left: 40%;
  margin-right: 40%;
}

#sinLoguear, #logueado{
  text-align: center;
  color: white;
}



input[type=text] {
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
}

#nombre, #mensaje {
  height: 5em;
  width: 20em;
 
}

#chat {
  width: 11em;
  padding: 0px 0px 0px 0px ;
  margin: 0px 0px 0px 0px ;
}

#mensajes{
  background-color: white;
  opacity: 0.5;
  color: black;
  margin-right: 1rem;
}


* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: rgb(146, 157, 255);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 100%;
}

/* Set a style for the submit button */
.btn {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
  /* font-size: 18px; */
}

.btn:hover {
  opacity: 0.5;
  background-color:rgb(83, 220, 238);
}

.btn-login {
  color: #fdfdfd;
  background-color: rgb(1, 95, 119);
  -webkit-box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.44);
  box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.44);
}


.googleBtn,
.btn-login {
  /* padding: 4px 6px !important; */
  
}



#iconGoog {
  width: 16%;
  height: 16%;
}



.logIn {
  display: flex;
}

.logIn>button {
  margin: 5px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

@media (max-width: 500px){

  .secFormulario {
    /* margin-left: 0;
    margin-right: 0px; */
    margin-left: 20%;
  margin-right: 20%;
  padding: 1.5rem;
  }

  .btn {
    width: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: x-small !important;
  width: 100%;
  }

  
#mensaje {
  width: auto;
  height: 2rem;
  padding: 0px 0px 0px 0px ;
  margin: 0px 0px 0px 0px ;
}

ul{
  margin-left: 0px;
  border-left: 0px;
  padding-left: 1rem;
}

  
}